API_ID=123456
API_HASH=your_api_hash_from_my_telegram_org
BOT_TOKEN=123456:your_bot_token_from_botfather
DB_URL=mongodb+srv://user:pass@cluster.mongodb.net
DB_NAME=FileRenameBot
OWNER_ID=123456789
ADMINS=123456789,987654321
FORCE_SUB_CHANNEL=
LOG_CHANNEL=
DEFAULT_CAPTION={filename}
DOWNLOAD_DIR=./downloads
